body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.headingcolor{
    color: coral;
}
.parajustification{
    text-align: justify;
}
.orderbutton{
    text-decoration: none;
    background-image: linear-gradient(coral,rgb(224, 95, 44));
    border-radius: 5%;
    padding: 10px 50px;
    margin-left: 250px;
    color: white;    
}
.flexible-container{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.width{
    width: 80%;
    margin-left: 120px;
    margin-top: 50px;
}
section img{
    margin-right: 250px;
    width: 90%;
    height: auto;
    margin-left: 250px;

}
.image-width{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
}
.recepi-image{
    align-items: center;
    justify-content: center;
    
}
.item-description{
    margin-left: 300px;
    padding-right: 2px;
    text-align: left;
    
}
.recepies-section{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin-bottom: 150px;
    
}
.footer-section{
    
    display: flex;
   
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 20px gray;
    margin-bottom: 50px;
    
}
footer{
    text-align: center;
    justify-content: center;

}
.margin{
    margin: 50px;
}